/*  Temporary for header height , to fix once main content is in */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Lobster&family=Marck+Script&family=Montserrat&family=Noto+Sans+JP&family=Oxygen&family=PT+Sans&family=Poppins&family=Roboto&display=swap');

/* ================== TEMP STYLING ==================== */

.row.header {
    height: 100px;
}


/* ==================END TEMP STYLING================== */



html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}



/* since the navbar is fixed we need to add some space to the body */
body {
  padding-top: 56px;
  background-color: transparent!important;

}
html {
  height: 100%;
  background: rgb(32,1,34);
  background: linear-gradient(180deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 100%);
}

/* Accordion p3 style */
h3.accordion-heading {
  font-family: 'Marck Script', cursive;
}

h1 {
  color: #dea773!important;
}

/* Offcanvas styling */

  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    left:-300px;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse {
      align-items:start;
/*   Adds a subtle drop shadow   */
    			-moz-background-clip: padding;     /* Firefox 3.6 */
			-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    border-right:5px solid rgba(0, 0, 0, 0.2);
    
  }




/* Makes the nav visibile with the open class */
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }


.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}




/* ===================== RANGE SLIDER TESTING =============================== */



 /* Range with tooltip */
 /* https://css-tricks.com/value-bubbles-for-range-inputs/ */

 *, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: sans-serif;
    /* padding: 60px 20px; 
  } */
  /* @media (min-width: 600px) {
    body {
      padding: 60px;
    }
  } */
  
  .range-slider {
    margin: 0px 0 0 0%;
  }
  
  .range-slider {
    width: 100%;
  }
  /*  disabled styling */
  .range-slider__range:disabled {
    background: #716d6d;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 20px;
    border-radius: 5px;
  /*   background: #d7dcdf; */
    background: #6b99f1;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
  }
  
  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }

  /* ======================= END RENAGE SLIDER STYLING ====================== */