@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script&family=Hind&family=Lobster+Two&family=Montserrat&family=Oxygen&family=PT+Sans&family=Poppins&family=Roboto&family=Tajawal&display=swap');
/* FONTS INCLUDED IN FORM
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tajawal', sans-serif;
*/


/* ================== TEMP STYLING ========================================== */

.row.header {
    height: 100px;
}
div#css-button {
    height: 100px; 
    margin-bottom: 50px;
}

/* ==================END TEMP STYLING======================================== */


/* html,
body {
  /* overflow-x: hidden; Prevent scroll on narrow devices */
/* } */ 

/* since the navbar is fixed we need to add some space to the body */
body {
  padding-top: 56px;
  background-color: transparent!important;

}
html {
  /* height: 100%; */
  background: rgb(32,1,34);
  background: linear-gradient(180deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 100%);
}

/* Accordion p3 style */
h3.accordion-heading {
  font-family: 'Marck Script', cursive;
}

h1 {
  color: #dea773!important;
}

/* Offcanvas styling */

  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    left:-300px;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse {
      align-items:start;
/*   Adds a subtle drop shadow   */
    			-moz-background-clip: padding;     /* Firefox 3.6 */
			-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    border-right:5px solid rgba(0, 0, 0, 0.2);
    
  }


/* Makes the nav visibile with the open class */
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }


.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

/*  ============================ BOTTOM OFFCANVAS =========================== */

/* .modal-bottom {
  position: absolute;
  bottom: 0;
  margin: 0;
  -webkit-transform: translate(0,100%);
  -o-transform: translate(0,100%);
  transform: translate(0,100%);
}

.modal.show .modal-custom {
  transition: transform 0.20s linear;
} */

/* .offcanvas-bottom {
  height: 40vh;
  min-height: 300px;
} */


/* =========================== RANGE SLIDER TESTING ========================= */



 /* Range with tooltip */
 /* https://css-tricks.com/value-bubbles-for-range-inputs/ */

 *, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: sans-serif;
    /* padding: 60px 20px; 
  } */
  /* @media (min-width: 600px) {
    body {
      padding: 60px;
    }
  } */
  
  .range-slider {
    margin: 0px 0 0 0%;
  }
  
  .range-slider {
    width: 100%;
  }
  /*  disabled styling */
  .range-slider__range:disabled {
    background: #716d6d;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 20px;
    border-radius: 5px;
  /*   background: #d7dcdf; */
    background: #6b99f1;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
  }
  
  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }


  /* ============================= ACCORION STYLING ========================= */
  .card-header {
    background-color: #607d8b!important;
  }

  .card-body {
    background-color: #0a5579;
  }

  .card {
    color: #a4adb5;
    background-color: transparent!important;
  }

  .dropdown-divider {
    border-color: #607d8b!important;
  }

  .accordion-heading {
    color: #acc5c9;
    text-shadow: 1px 0 16px black;
  }

  .form-control {
    background-color: #135c68!important;
    border: 1px solid #5b8c94!important;
    color: #d1d1d1!important;
  }

  .form-control:disabled {
    background-color: #343a40!important;
  }

  pre {
    padding: 5%;
    background-image: -webkit-linear-gradientt(0deg , black, transparent);
    background-image: -moz-linear-gradientt(0deg , black, transparent);
    background-image: -ms-linear-gradientt(0deg , black, transparent);
    background-image: linear-gradient(0deg , black, transparent);
    background-image: -o-linear-gradient(0deg, black, transparent);


  }

  /* Copy to clipboard button */

  .copy-code-button {
    /* color: #4f0606; */
    color: #d6c4c4;
    /* background-color: rgba(94, 242, 240, 0.748); */
    /* background-color: rgba(94, 242, 240, 0); */
    /* border-color: #550404; */
    /* border: 2px solid; */
    border-radius: 8px 8px 0px 0px;

    /* right-align */
    display: block;
    margin-right: auto;
    margin-left:  5%;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    color: #8cc051;
    /* background-color: #18b860; */
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #e6e6e659;
    outline: 0;
}

.copy-code-button:active {
    background-color: #775959;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}

/* Highlights the cssContainer text on copy */
.copyHighlight {
  background-color: rgba(255, 132, 0, 0.22);
}

/* Error message class for unsuccesful clipboard copy */
.errorMsg {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 14px; */
  color: red;
  margin-left: 10px;
}
.successMsg {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 14px; */
  color: rgb(23, 196, 87);
  margin-left: 10px;

}

/* CSS Tooltips | https://codepen.io/neogomo/pen/BjqJzr */
/*  Tippy.js tooltips | https://github.com/atomiks/tippyjs */
